<header class="p-3 text-bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a  class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
          <img src="assets/lego-face.png" width="50" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="'/home'" class="nav-link px-2 ">Home</a></li>
          <li *ngIf="user"><a [routerLink]="['/users', user._id]" class="nav-link px-2 ">Profile</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control text-bg-light" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
          <a *ngIf="!user" type="button" [routerLink]="'/login'" class="btn btn-outline-dark me-2">Login</a>

        </div>
      </div>
    </div>
  </header>