<div class="container">
    <h1 class="m-2">Minifigure Collections</h1>
    <hr>
    <div class="d-flex ">
        <a class="card m-2" [routerLink]="['/collections', 'cmf']">
            <div class="card-body">
                <img alt="Collectible Minifigures Series" width="250" src="https://cdn.rebrickable.com/media/sets/8683-17/6715.jpg" /> 
            </div>
            <div class="card-footer d-flex justify-content-center">
                Collectible Minifigure Series
            </div>
        </a>
        <a class="card m-2" [routerLink]="['/collections', 'hp']">
            <div class="card-body">
                <img alt="Harry Potter" width="250" src="https://cdn.rebrickable.com/media/thumbs/sets/71028-17/71327.jpg/1000x800p.jpg?1718864946.121407" /> 
            </div>
            <div class="card-footer d-flex justify-content-center">
                Harry Potter Minifigure Series
            </div>
        </a>
    </div>
</div>

